# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: PowerShell@2
  inputs:
    filePath: 'PublishModule.ps1'
    arguments: '-Key "$(PSGalleryKey)"'
    failOnStderr: true
    workingDirectory: '$(Build.SourcesDirectory)'